{% import "packageCard.html" as package %}
{% import "destinationCard.html" as destination %}
{% extends "base.html" %}
{% block title %}My Trip Goal - Packages {% endblock %}
{% block content %}
<!-- banner -->
<section class="banner_inner" id="home">
  <div class="banner_inner_overlay"></div>
</section>
<!-- //banner -->

<!---728x90--->

<!-- tour packages -->
<section class="packages pt-5">
  <div class="container py-lg-4 py-sm-3">
    <h2 class="heading text-capitalize text-center">
      Discover our tour packages
    </h2>
    <p class="text mt-2 mb-5 text-center">
      Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue.
      Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.
    </p>
    <div class="row">
		{% for item in packages %}
			{{ package.packageCard( item["image"],item["price"],item["info"],item["infoBold"],item["desc"],item["duration"]) }}
		{% endfor %}
		{% for item in packages %}
			{{ package.packageCard( item["image"],item["price"],item["info"],item["infoBold"],item["desc"],item["duration"]) }}
		{% endfor %}

    </div>
  </div>
</section>
<!-- tour packages -->
<!---728x90--->
<!-- destinations -->
<section class="destinations py-5" id="destinations">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="heading text-capitalize text-center">Popular Destinations</h3>
    <p class="text mt-2 mb-5 text-center">
      Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue.
      Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.
    </p>
    <div class="row inner-sec-w3layouts-w3pvt-lauinfo">
		{% for item in destinations %}
			{{destination.destinationCard(item["place"],item["image"])}}
		{% endfor %}
    </div>
  </div>
</section>
<!-- destinations -->
<!---728x90--->
{% endblock %}
